{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center vh-100">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card card-jk2 border-general">
          <div class="card-header">
            <img src="{{ asset('build/images/dessinbleu.png') }}" class="dessin" alt="dessinBleu">
            <h1 class="jk-title2">A propos de moi</h1>
          </div>
          {% for presentation in presentations %}
            <div class="card-body">
              <h4 class="card-title">{{ presentation.description }}</h4>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="card card-jk2 border-general">
          <div class="card-header">
            <img src="{{ asset('build/images/dessinbleu.png') }}" class="dessin" alt="dessinBleu">
            <h1 class="jk-title2">Formation</h1>
          </div>
          {% for presentation in presentations %}
            <div class="card-body">
              <h4 class="card-title">{{ presentation.formation }}</h4>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="card card-jk2 border-general">
          <div class="card-header">
            <img src="{{ asset('build/images/dessinbleu.png') }}" class="dessin" alt="dessinBleu">
            <h1 class="jk-title2">Expérience</h1>
          </div>
          {% for presentation in presentations %}
            <div class="card-body">
              <h4 class="card-title">{{ presentation.experience }}</h4>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="card card-jk2 border-general">
          <div class="card-header">
            <img src="{{ asset('build/images/dessinbleu.png') }}" class="dessin" alt="dessinBleu">
            <h1 class="jk-title2">Mes compétences techniques</h1>
          </div>
            <div class="card-body">
              <h4 class="card-title">
                Avide de challenges techniques et passionné d'innovation, 
                je suis une développeuse déterminée à créer des solutions percutantes et évolutives.
              </h4>
              <a class="nav-link btn-jk-2" href="{{ path('presentation_index') }}">Voir mes compétences <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>
  </div>
</div>
{% endblock %}


