{% extends 'base-dashboard.html.twig' %}

{% block title %}Presentation index{% endblock %}

{% block body %}
    <h1 class="jk-title-admin mb-5">Gestion de la présentation</h1>

    <table class="table custom-table">
        <thead>
            <tr>
                <th class="custom-text">Description</th>
                <th class="custom-text">Formation</th>
                <th class="custom-text">Expérience</th>
                <th class="custom-text">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td class="custom-text">{{ presentation.description }}</td>
                <td class="custom-text">{{ presentation.formation }}</td>
                <td class="custom-text">{{ presentation.experience }}</td>
                <td class="custom-text">
                    <a href="{{ path('presentation_edit', {'id': presentation.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ path('presentation_delete', {'id': presentation.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="custom-text">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="nav-link btn-jk-new" href="{{ path('presentation_new') }}">Créer des nouveaux enregistrements <i class="bi bi-arrow-right-circle-fill"></i></a>
{% endblock %}

