<aside class="aside-admin">
    <a href="/">
        <img class="logo-jk" src="{{ asset('build/images/logo_couleur_cadre_noir.jpg') }}" alt="logo">
    </a>
    <div>
        <div class="mt-5">
            <a class="nav-link2" href="{{ path('dashboard') }}"><i class="bi bi-boxes"></i> Dashboard</a>
        </div>
        <div class="mt-5">
            <a class="nav-link2" href="{{ path('message_index') }}"><i class="bi bi-envelope"></i> Message</a>
        </div>
        <div class="mt-5">
            <a class="nav-link2" href="{{ path('presentation_index_admin') }}"><i class="bi bi-person-bounding-box"></i> Presentation</a>
        </div>
        <div class="mt-5">
            <a class="nav-link2" href="{{ path('competence_index_admin') }}"><i class="bi bi-motherboard"></i> Compétences</a>
        </div>
        <div class="mt-5">
            <a class="nav-link2" href="{{ path('project_index_admin') }}"><i class="bi bi-journal-code"></i> Projets</a>
        </div>
    </div>
</aside>

