{% extends 'base-dashboard.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="jk-title-admin mb-5">Gestion des projets</h1>

    <table class="table custom-table">
        <thead>
            <tr>
                <th class="custom-text3">Titre</th>
                <th class="custom-text3">Description</th>
                <th class="custom-text3">Technologies</th>
                <th class="custom-text3">Lien</th>
                <th class="custom-text3">Logo</th>
                <th class="custom-text3">Image</th>
                <th class="custom-text3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td class="custom-text3">{{ project.title }}</td>
                <td class="custom-text3">{{ project.description }}</td>
                <td class="custom-text3">{{ project.technology }}</td>
                <td class="custom-text3">{{ project.link }}</td>
                <td class="custom-text3"><img src="{{ asset(project.picture2) }}" width="50px" alt="logo"></td>
                <td class="custom-text3"><img src="{{ asset(project.picture) }}" width="50px" alt="logo"></td>
                <td class="custom-text3">
                    <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ path('project_delete', {'id': project.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="nav-link btn-jk-new" href="{{ path('project_new') }}">Créer des nouveaux enregistrements <i class="bi bi-arrow-right-circle-fill"></i></a>
{% endblock %}
